.product-card {
  position: relative;
  display: flex;
  flex-direction: column; /* Change to column for responsiveness */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-right: 16px;
  width: 18vw;
  margin: 2vw;
  height: 60vh;

  .icon {
    svg {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 9vh;
      height: 9vh;
      border-radius: 50%;

      background-color: #f5f5f5;
    }
  }
  .product-image {
    display: block;
    height: 55%;
    width: 85%;
    margin: auto;
  }

  .rate-card {
    margin-left: 0.5vw;
  }

  .product-info {
    flex: 1;
  }

  .product-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-left: 10px;
  }

  .product-salary {
    color: #b93c3c;
    font-family: Montserrat;
    font-size: 20px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 17.438px */
    font-variant: small-caps;
  }

  .product-description {
    overflow: hidden;
    color: #787878;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15.5px */
    text-transform: lowercase;
    margin-bottom: 30px;
  }

  .product-actions {
    display: flex;
    align-items: center;

    .add-to-cart {
      color: #fff;
      border: none;
      padding: 8px 16px;
      margin-right: 25px;
      cursor: pointer;
      border-radius: 5.813px;
      background: #000;
      width: 10vw;
      margin-left: 10px;
    }

    .favorite-icon {
      font-size: 1.5rem;
      color: #f00;
      cursor: pointer;
      width: 23.25px;
      height: 23.25px;
      flex-shrink: 0;
    }
  }
}
