.you-may-also-like {
  .slider {
    display: flex;
    flex-direction: row;
  }
  h2 {
    font-size: 40px;
    font-family: Montserrat;

    margin-left: 30px;
    margin-bottom: 16px;
  }

  .slick-dots {
    li {
      button:before {
        font-size: 10px;
        color: #fff;
        opacity: 0.8;
      }
    }

    li.slick-active {
      button:before {
        opacity: 1;
      }
    }
  }
}
